{% extends "base.tmpl" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <a href="/boxee/add">Add a Boxee Box</a>
    <br />
    <a href="/settings">Settings</a>
    <br />
    <a href="/log">Log</a>
{% endblock %}