{% extends "base.tmpl" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <a href="/boxee/add">Add a Boxee Box</a>
    <br />
    <a href="/settings">Settings</a>
    <br />
    <a href="/log">Log</a>
    <p></p>
    {% if not boxee_boxes %}
    <div>
        <p>You have not added any boxee boxes yet! <a href="/boxee/add">Add</a> one one ...</p>
    </div>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>IP</th>
            <th>Port</th>
        </tr>
    {% for box in boxee_boxes %}
        <tr>
            <td>{{ box["boxee_name"] }}</td>
            <td>{{ box["ip"] }}</td>
            <td>{{ box["port"] }}</td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
{% endblock %}