{% extends "base.tmpl" %}
{% block title %}Pair{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Pair the Boxee box - Step 2</h1>
    <div>The TV connected to your Boxee Box will show a challenge. Please type the 4 digits you see on the screen here.</div>
    <div>{{ error }}</div>
    <form action="/pair/step2" method="post" id="pair-boxee-form">
        <div>
        <label>Pair challenge</label>
        <input type="textfield" name="challenge" />
        </div>
        <input type="submit" value="Pair" />
    </form>
{% endblock %}