{% extends "base.tmpl" %}
{% block title %}Pair{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Pair the Boxee box</h1>
    <div>{{ error }}</div>
    <form action="/boxee/add" method="post" id="pair-boxee-form">
        <div>
        <label>IP address</label>
        <input type="textfield" name="ip" value="{{ ip }}" />
        </div>
        <div>
        <label>Port</label>
        <input type="textfield" name="port" value="{{ port }}" />
        </div>
        <input type="submit" value="Pair" />
    </form>
{% endblock %}