{% extends "base.tmpl" %}
{% block title %}Pair{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Pair the Boxee box - Step 3</h1>
    <div>Paired!</div>
{% endblock %}