{% extends "base.tmpl" %}
{% block title %}Page not found!{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Page not found</h1>
    <div>
        Go look somewhere else :P
    </div>
{% endblock %}